<div class="row" id="footer">


  <div class="row">
    <div class="col-md-8">
      <%= raw @footer_line_content %>
    </div>
    <div class="col-md-4 text-right">
      <%= render 'layouts/structure/footersharethis' %>
    </div>
  </div>

</div>


