<div class="row" id="footer">


  <div class="row">
    <div class="col-md-8">
      <p>© <%= Time.now.year %> The ISTA Entertainment Spotlight - All rights reserved. <%= link_to('ISTA Network', 'http://www.istanetwork.com', html_options = { target: 'blank', rel: 'external'}) %>.</p>
    </div>
    <div class="col-md-4 text-right">
      <%= render 'layouts/structure/footersharethis' %>
    </div>
  </div>

</div>


