<div class="row" id="footer">


  <div class="row">
    <div class="col-md-8">
      <p>© <%= Time.now.year %> The Kevin & Ashley Show - All rights reserved. Designed by <%= link_to('Stizelwebs', 'http://www.stizelwebs.com', html_options = { target: 'blank', rel: 'external'}) %>.</p>
    </div>
    <div class="col-md-4 text-right">
      <%= render 'layouts/structure/footersharethis' %>
    </div>
  </div>

</div>


