<p>
  <img style="visibility: visible;" alt="Kevin J. Stone &amp; Ashley V. Bagley" id="Image1_img" src="http://1.bp.blogspot.com/-K_UYM9HwEAY/UoBZVtmYnnI/AAAAAAAAAoU/LmxyJUAePT4/s758/header.jpg" height="306" width="758">
</p>