<% if !@upcoming_events.empty? %>
    <h4><%= link_to 'Upcoming Events', events_path %></h4>
    <ul class="list-group">
      <% @upcoming_events.each do |event| %>
          <li class="my-list-item"><%= link_to_unless_current event.event_title_start, event %></li>
      <% end %>
    </ul>
<% end %>