@charset "utf-8";
/* CSS Document */

body {
	background-color:#cccccc;
	margin: 90px 0 40px;
	/*background:url(file:///C|/Users/Stone/Desktop/dist/img/background.jpg) no-repeat #0097FF;*/
	background: url(https://s3.amazonaws.com/whatsafoodie/structure/grey_wash_wall.png) repeat;
	/*background: url(https://s3.amazonaws.com/bestfoodtruckever/structure/foodtrucks.jpg) no-repeat #262626;*/
    /*background-size: 100% auto;*/
	/*background-size: 100%;*/
}

.navbar-form {
    width: auto;
    padding-top: 5px;
    padding-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border: 0px none;
    box-shadow: none;
}

.navbar .active, .navbar > li > .active {
  background-color: rgb(0, 180, 255);
  color: #FFFFFF;
}


.form-horizontal .form-group {
  margin-right: 0px;
  margin-left: 0px;
}

.containermargintop {
	margin-top: 80px;
}

.container {
	/*background-color:#F0F0F0;*/
	background-color:#FFFFFF;
	color:#000000;	
}

.toploginnav {
    color: rgb(119, 119, 119);
    padding-top: 15px;
}

/*.containershadow {
	-webkit-box-shadow:  4px 4px 6px 1px rgba(68, 68, 68, .5);
        
        box-shadow:  4px 4px 6px 1px rgba(68, 68, 68, .5);
}*/

.containerbg {
	background-color:#00B4FF;
	
}
#contentsection {
	padding:10px 15px 30px;
}
#adrow {
	background-color:#00B4FF;
	padding:30px;
	text-align:center;
}
#footer {
	background-color:#444444;
	color:#FFFFFF;
	padding:15px 30px;
	/*border-bottom:2px solid #00B4FF;*/
}

.my-list-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}

.sidebox {
    border: 1px solid #eeeeee;
    padding: 12px;
    margin-bottom: 10px;
    background-color: #F8F8F8;
}

.whitebox {
    border: 0px solid #eeeeee;
    padding: 12px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
}


#tag_cloud {
    line-height: 1.6em;  }
.s { font-size: 0.8em; }
.m { font-size: 1.2em; }
.l { font-size: 1.8em; }



#footer a {
	color:#00B4FF;
}

#footer ul
{
    list-style-type: none;
	padding:0;
}

#footer ul li {
	margin-bottom:5px;
}

#footer hr {
	border-color: #666;
}

blockquote {
  background-color: #FFFFFF;
  border-left-color: #EEEEEE;
  color: #ADB0B2;
}

.whitetext {
	color:#FFFFFF;
}


.fancypadding {
	padding:15px 30px;
}


	

.leftcolor {
	background-color: #F0F0F0;
}

.rightcolumn {
	color:#FFFFFF;
}

.sidebg {
	background-color:#F0F0F0;
	color:#FFFFFF;
}

.nopadding {
	padding-left:0;
	padding-right:0;
}

.navbar-default {
background-color: #FFFFFF;
border-color: #fff;
}

.navbar-fixed-top {
top: 0;
border-width: 0 0 3px;
border-color: #00B4FF;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color:#00B4FF;
	color:#FFFFFF;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #FFFFFF;
background-color: #00B4FF;
}