@charset "utf-8";
/* CSS Document */


//$primary-color: #203B50;
$primary-color: #000000;
//$secondary-color: #BCC0C0;
$secondary-color: rgb(212, 63, 58);
$tertiary-color: #FF765F;



$white: #FFFFFF;
$black: #000000;
$light-gray: #eeeeee;
$red: rgb(217, 83, 79);



body {
  margin: 90px 0 40px;
  /*background:url(file:///C|/Users/Stone/Desktop/dist/img/background.jpg) no-repeat #0097FF;*/
  /*background: url(http://s21.postimg.org/mrkpdtztz/zwartevilt.png) repeat;*/
//  background: url(https://s3.amazonaws.com/istaentertainment/brickwall.png) repeat;
  background: url(https://s3.amazonaws.com/istaentertainment/black_twill.png) repeat;
}

.navbar-form {
  width: auto;
  padding-top: 5px;
  padding-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  border: 0px none;
  box-shadow: none;
}

.navbar .active, .navbar > li > .active {
  background-color: rgb(0, 180, 255);
  color: $white;
}

a {
  color: $white;
}

a:hover, a:focus {
  color: $secondary-color;
  text-decoration: underline;
}

.form-horizontal .form-group {
  margin-right: 0px;
  margin-left: 0px;
}

.photobar {
  height: auto;
  max-width: 100%;
}

.photo-centered {
  margin: auto;
  max-width: 1170px;
}

.containermargintop {
  margin-top: 80px;
}

.container {
  /*background-color:#F0F0F0;*/
  background-color: $white;
  color: $black;
}

.toploginnav {
  color: rgb(119, 119, 119);
  padding-top: 15px;
}


.containerbg {
  background-color: $primary-color;

}
#contentsection {
  padding:10px 15px 30px;
}
#adrow {
  background-color: $primary-color;
  padding:30px;
  text-align:center;
}
#footer {
  background-color:$secondary-color;
  color: $white;
  padding:15px 30px;
}

.my-list-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: $white;
  border-top: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;
}

.sidebox {
  border: 1px solid $light-gray;
  padding: 12px;
  margin-bottom: 10px;
  background-color: #F8F8F8;
}

.whitebox {
  border: 0px solid $light-gray;
  padding: 12px;
  margin-bottom: 10px;
  background-color: $white;
}


#tag_cloud {
  line-height: 1.6em;  }
.s { font-size: 0.8em; }
.m { font-size: 1.2em; }
.l { font-size: 1.8em; }



#footer a {
  color: $primary-color;
}

#footer ul
{
  list-style-type: none;
  padding:0;
}

#footer ul li {
  margin-bottom:5px;
}

#footer hr {
  border-color: #666;
}

blockquote {
  background-color: $white;
  border-left-color: $light-gray;
  color: #ADB0B2;
}

.whitetext {
  color: $white;
}


.fancypadding {
  padding:15px 30px;
}




.leftcolor {
  background-color: #F0F0F0;
}

.rightcolumn {
  color: $white;
}

.sidebg {
  background-color:#F0F0F0;
  color: $white;
}

.nopadding {
  padding-left:0;
  padding-right:0;
}

.navbar-default {
  background-color: $white;
  border-color: $white;
}

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 3px;
  border-color: $primary-color;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color:$primary-color;
  color: $white;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: $white;
  background-color: $primary-color;
}